*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* section catálogo Primavera */
.Catalogo-Primavera{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(imagens/6909e34e1fb4ede0ae45c1e2df47eb72.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.card1 { 
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    margin: 10px;
}

.card1:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#comprar {
    border: none;
    border-radius: 30px;
    background-color: #f1007b;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(241, 0, 123, 0.5);
}
.comprar-link{
    text-decoration: none;
    color: inherit;
}

#comprar:hover {
    background-color: #d8006b;
    box-shadow: 0 6px 12px rgba(241, 0, 123, 0.7);
}
.agrup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.image3{
    width: 600px;
    margin-top: 0px;
}
.descriton{
    font-size: 18px;
}
.old-price {
    color: red;
    text-decoration: line-through;
    margin-right: 10px;
}

.new-price {
    color: green;
    font-weight: bold;
    font-size: 1.2em;
}