/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
/* Navbar mobal */
.nav-mobal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #070909;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

/* Logo */
.nav-mobal .logo img {
    width: 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-mobal .menu-toggle {
    font-size: 30px;
    cursor: pointer;
}

/* Menu dropdown para telas menores */
.nav-mobal .dropdown {
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    color: white;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    z-index: 1000;
}

.dropdown.active {
    max-height: 300px;
}

.nav-mobal .dropdown a {
    text-decoration: none;
    padding: 5px 10px;
    color: white;
}

.lista {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 10%;
}

.lista-item {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    margin: 0px 10px;
    position: relative;
    transition: color 0.3s;
}

.lista-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #667471;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 10px;
}

.lista-item:hover::after {
    width: 60%;
}

.nav-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#fechar-dropdown {
    cursor: pointer;
}

#fechar-dropdown:hover {
    border-radius: 3px;
    background-color: #c2185b;
}

#titulo-dropdown {
    margin-left: 10vw;
}



/* Estilização da lista de produtos */
.product-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product p {
    font-size: 18px;
    margin: 10px 0;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilização do carrinho */
.cart {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.cart h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.cart img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 20px;
}

.cart p {
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
}

.cart button {
    background-color: #ff007f;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart button:hover {
    background-color: #ff3399;
}
